:root {
    --vp-c-brand-1: #37b6b6;
    --vp-c-brand-2: #59c6c6;
    --vp-c-brand-3: #369e9e;
    --vp-c-brand-soft: rgba(116, 199, 199, 0.14);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(140deg, var(--vp-c-brand-3), #c77474);
}

/* For indenting sidebar entries from the first level (default is from second level) */
/* .group:has([role='button']) .VPSidebarItem.level-0 .items {
    padding-left: 16px !important;
    border-left: 1px solid var(--vp-c-divider);
    border-radius: 2px;
    transition: background-color 0.25s;
} */